fastapi
uvicorn
intersystems-irispython
openai
python-multipart
requests
pytz==2025.2
dotenv==0.9.9
openai-agents==0.6.1
urllib3==2.5.0
numpy==2.3.4
scipy==1.17.1
sounddevice==0.5.5
vosk==0.3.45
bs4==0.0.2
psutil==7.2.2